################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerInteractions/InteractionStream/.vs/InteractionStream/FileContentIndex/025a2af1-be4e-4f67-b777-5844c1ea6d19.vsidx
/CustomerInteractions/InteractionStream/.vs/InteractionStream/FileContentIndex/239822c8-70f1-4816-ab7b-23d255b7f743.vsidx
/CustomerInteractions/InteractionStream/.vs/InteractionStream/FileContentIndex/47aec1ba-bcd8-4643-a683-1a28c76d69bb.vsidx
/CustomerInteractions/InteractionStream/.vs/InteractionStream/FileContentIndex/a2500031-fb1a-481d-95f4-4fa079dd8827.vsidx
/CustomerInteractions/InteractionStream/.vs/InteractionStream/FileContentIndex/b4bd2699-6c38-4d9b-9aba-8dfaed630f65.vsidx
