################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerInteractions/InteractionStream/.vs/InteractionStream/FileContentIndex/025a2af1-be4e-4f67-b777-5844c1ea6d19.vsidx
