<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://restapi20240226143759.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2c04c210-9510-4de6-9905-516f431eb3d2/resourceGroups/AI/providers/Microsoft.Web/sites/RestAPI20240226143759</ResourceId>
    <UserName>$RestAPI20240226143759</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://restapi20240226143759.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>